<nav class="navbar">
  <div class="logo">Portfolio</div>

  <div class="burger" [class.active]="menuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<div class="side-menu" [class.active]="menuOpen">
  <ul>
    <li><a (click)="closeMenu()" routerLink="home" 
        routerLinkActive="router-active">Home</a>
    </li>
    <li><a (click)="closeMenu()" routerLink="skills" 
        routerLinkActive="router-active">Skills</a>
    </li>
    <li><a (click)="closeMenu()" routerLink="experience" 
        routerLinkActive="router-active">Experience</a>
    </li>
    <li><a (click)="closeMenu()" routerLink="projects" 
        routerLinkActive="router-active">Projects</a>
    </li>
    <li><a (click)="closeMenu()" routerLink="courses"
         routerLinkActive="router-active">Courses</a>
        </li>
    <li><a (click)="closeMenu()" routerLink="contact" 
        routerLinkActive="router-active">Contact</a>
    </li>
  </ul>
</div>
