<section class="education-section">
  <div class="container">
    <h2 class="section-title">Courses & Training</h2>
    <div class="timeline">

      <div class="edu-card">
        <span class="dot"></span>
        <h3>Backend | ASP.NET</h3>
        <p class="place">Route Academy</p>
        <span class="date">11/2023 – 03/2024</span>
      </div>

      <div class="edu-card">
        <span class="dot"></span>
        <h3>Frontend | Angular</h3>
        <p class="place">Route Academy</p>
        <span class="date">05/2023 – 11/2023</span>
      </div>

      <div class="edu-card">
        <span class="dot"></span>
        <h3>Database, OOP, Data Structures & Algorithms</h3>
        <p class="place">ITI</p>
        <span class="date">05/2023 – 08/2023</span>
      </div>

    </div>
  </div>
</section>
