<section class="projects-section"> 
    <div class="projects-tittle text-center">
        <h2>My Work Showcase</h2>
         <p>A Few of the digital experiences I've crafted 
            — blending performance, precision, and creativity.</p>
    </div>
    <div class="container mt-5">
        <div class="row">
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/photo-portflio-project.avif" 
                    alt="keyboard photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Portfolio Website</h3>
                         <p>
                            A clean, developer-focused portfolio built with vanilla JS and Bootstrap CSS.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> Bootstrap </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://ahmed-sami-portflio.vercel.app/home"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/portflio-iqvia.png" 
                    alt="dashboard photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Iqvia System</h3>
                         <p>
                            A multi-module system consisting of several applications used across the company’s branches.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> Ts </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> PrimeNg </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://github.com/ahmed12v"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/Cafenod.webp" 
                    alt="keyboard photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Caffe Management.</h3>
                         <p>
                            Developed an Angular-based admin dashboard with employee and billing management features.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> Bootstrap </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://github.com/ahmed12v"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/e-commerce.png" 
                    alt="e-commerce photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Full e-commerce</h3>
                         <p>
                            Reviews, Wishlist, Addresses coupons, Shopping Cart, Cash and Online Orders.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> PrimeNg </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://ec-store-rosy.vercel.app/login"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/medical-website.png" 
                    alt="medical website photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Medical Website</h3>
                         <p>
                            Built a scalable Angular web app for medical service management featuring secure auth.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> PrimeNg </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://savior-mu.vercel.app/about"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/sudia.png" 
                    alt="saudi warehouse photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Saudi warehouse</h3>
                         <p>
                            The Saudi Digital Repository is a large project that has enhanced my technical skills.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> Bootstrap </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://github.com/ahmed12v"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4" appScrollReveal>
                <div class="project-card">
                    <div class="image-wrapper mb-4">
                    <img src="/realestate.avif" 
                    alt="keyboard photo" 
                    class="project-image">
                    </div>
                    <div class="card-info">
                         <h3 class="mb-2   fw-bold text-white">Real Estate Website</h3>
                         <p>
                            Developed a role-based real state web platform with secure deployment.
                         </p>
                         <div class="d-flex gap-2 tags-languagge">
                            <span class="tag-span"> HTML </span>
                            <span class="tag-span"> Angular </span>
                            <span class="tag-span"> Tailwind CSS </span>
                         </div>
                         <div class="live-demo d-flex">
                            <a href="https://house-hub-black.vercel.app/register"
                             class="live-link"
                             target="_blank"> 
                              Live Demo →
                              </a> 
                            <a href="https://github.com/ahmed12v"
                             class="github-link"
                             target="_blank"> 
                              Github 
                              </a> 
                         </div>
                    </div>
                    
                </div>
              </div>
        </div>
    </div>
</section>