<section class="experience-section">

    <div class="experince-title text-center">
 <h2>
    Work Experience
 </h2>
 <p> 
    A quick glance at my education and work experience.
</p>
    </div>
  <div class="container my-5">
  <div class="timeline">

    <!-- Item -->
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>

      <div class="col timeline-content">
        <h4 class="title">Angular Developer</h4>
        <p class="meta"> Red Bridge Consulting, RBG · Mar 2025 - Present</p>
        <p class="desc">
                Worked with a development team on a large multi-module system for
                company employees, contributing to scalable Angular features and
                overcoming technical challenges that enhanced my problem-solving and
                teamwork skills.
        </p>
      </div>
    </div>
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>

      <div class="col timeline-content">
        <h4 class="title">Junior Frontend Angular</h4>
        <p class="meta"> National Bank of Egypt, NBE · May 2024 - May 2025</p>
        <p class="desc">
                Started as an intern and quickly advanced to a Junior Frontend Developer,
                gaining strong practical experience. Worked on the National Bank project,
                where I solved many critical bugs and handled challenging tasks.
        </p>
      </div>
    </div>
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>

      <div class="col timeline-content">
        <h4 class="title">Frontend Angular Developer</h4>
        <p class="meta"> Freelancer · Feb 2024 - May 2024</p>
        <p class="desc">
                real-world Angular projects involving full UI development, and clean project
                architecture using best practices, added me more experience
        </p>
      </div>
    </div>
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>

      <div class="col timeline-content">
        <h4 class="title">Frontend Internship</h4>
        <p class="meta"> Training at Route Academy · Aug 2023 - Feb 2024</p>
        <p class="desc">
                provide my technical skills with in this internship with teamwork and
                 projects.
        </p>
      </div>
    </div>
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>

      <div class="col timeline-content">
        <h4 class="title">Software Development Scholarship</h4>
        <p class="meta"> ITI · May 2023 - Aug 2023</p>
        <p class="desc">
                Gained strong foundation in frontend development and improved practical
                skills through hands-on projects, collaboration, and mentorship.
        </p>
      </div>
    </div>

    

  </div>
</div>


  </section>
<section class="education-section">

    <div class="experince-title text-center">
 <h2>
    Education
 </h2>
 <p> 
    A quick glance at my education and work experience.
</p>
    </div>
  <div class="container my-5">
  <div class="timeline">

    <!-- Item -->
    <div class="timeline-item row g-0">
      <div class="col-auto timeline-left">
        <span class="dot"></span>
        <span class="line"></span>
      </div>
      
      <div class="col timeline-content">
        <h4 class="title">Bachelor of Computer Science</h4>
        <p class="meta">  New Cairo Academy, NCA · Oct 2021 - May 2025</p>
        <p class="desc">
                Bachelor’s degree in computer science and information - CS .
        </p>
      </div>
    </div>
    

    

  </div>
</div>


  </section>

