<section class="skills-section">
 <div class="skills-title text-center">
 <h2>
    Teck Stack
 </h2>
 <p> 
 Languages, libraries & tools I build modern web applications with.   
</p>
 </div>

  <div class="container mt-5">
   <div class="row gy-4">

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="html5-original.svg" alt="HTML5" class="html-imge">
            <h5>HTML5</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="css3-original.svg" alt="CSS3" class="Css-imge">
            <h5>CSS3</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="javascript-original.svg" alt="JavaScript" class="javascript-imge">
            <h5>JavaScript</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="Typescript.svg" alt="Typescript" class="typescript-imge">
            <h5>Typescript</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="Tailwind_CSS_Logo.svg" alt="Tailwind CSS" class="tailwind-imge">
            <h5>Tailwind CSS</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="bootstrap-icon-css.png" alt="Bootstrap" class="bootstrap-imge">
            <h5>Bootstrap</h5>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="angular-icon.svg" alt="Angular" class="angular-imge">
            <h5>Angular</h5>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="skils-card text-center">
            <img src="Microsoft_.NET_logo.svg.png" alt=".NET" class="net-imge">
            <h5>.NET</h5>
        </div>
    </div>
    
    
    
   </div>
  </div>
</section>